/* main card */
div.card {
    position: relative;
    height: auto;
    width: 95vw;
    margin: 56px auto;
    background-color: var(--white);
}

/* left image part */
div.thumbnail {
    float: left;
    position: relative;
    left: 30px;
    top: -30px;
    height: 320px;
    width: 530px;
    box-shadow: var(--shadow-close);
    overflow: hidden;
}

img.left {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    transform: translate(-50%, -50%);
}

/* right part */
div.right {
    margin-left: 590px;
    margin-right: 20px;
}

h1 {
    padding-top: 15px;
    text-align: left;
    font-size: 1.3rem;
    color: var(--stc);
}

div.author {
    background-color: var(--as);
    /* float: right; */
    height: 40px;
    width: 150px;
    border-radius: 20px;
}

div.author img {
    padding-top: 5px;
    margin-left: 6px;
    float: left;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

h2 {
    padding: 12px;
    vertical-align: middle;
    /* margin-right: 26px; */
    text-align: center;
    font-size: 0.8rem;
    color: var(--white);
}

div.seperator {
    margin-top: 10px;
    border-top: 2px solid var(--ap);
}

p {
    text-align: justify;
    padding-top: 10px;
    font-size: 0.95rem;
    line-height: 150%;
    color: var(--ptc);
}

h5 {
    position: absolute;
    text-align: center;
    /* float: right; */
    right: 150px;
    top: 120px;
    font-size: 6rem;
    color: var(--ap);
}

h6 {
    position: absolute;
    text-align: center;
    /* float: right; */
    right: 150px;
    top: 220px;
    font-size: 2rem;
    color: var(--ap);
}

div.blog_content {
    margin-top: 200px;
    padding: 20px;
    font-size: 0.8rem;
    line-height: 25px;
}

/* 
div.blog-card{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: var(--shadow);
    margin-bottom: 1.6%;
    background-color: var(--white);
    line-height:1.4;
    border-radius: 5px;
    overflow: hidden;

    z-index: 0;
    a {
        color: var(--ptc);
        &:hover{
            color: var(--ap);
        }

    }
    &:hover {
        .photo{
            transform: scale(1.3) rotate(3deg);
        }
    }

    div.meta{
        position: relative;
        z-index: 0;
        height: 200px;
    }

    .photo{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        transition: transform 0.2s;
    }

    .details, .details ul{
        margin: auto;
        padding: 0;
        list-style: none;
    }

    .details{
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        margin: auto;
        transition: left 0.2s;
        background-color: var(--bg);
        color: var(--white);
        padding: 10px;
        width: 100%;
        font-size: 0.9rem;

        a{
            text-decoration: dotted underline;
        }
        ul li{
            display: inline-block;
        }
        .author:before{
            margin-right: 10px;
            content: "\f133";
        }

        .tags{
            ul:before{
                content:"\f02b";
                margin-right: 10px;
            }

            li{
                margin-right: 2px;
                &:first-child{
                    margin-left: -4px;
                }
            }
        }
    }

    .description{
        padding: 1rem;
        background-color: var(--white);
        position: relative;
        z-index: 1;
        h1{
            line-height: 1;
            margin: 0;
            font-size: 1.7rem;
        }
        h2{
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            color: var(--stc);
            margin-top: 5px;
        }

        .read-more{
            text-align: right;
            a{
                color: var(--ptc);
                display: inline-block;
                position: relative;
                &:after{
                    content: "\f061";
                    margin-left: -10px;
                    vertical-align: middle;
                    opacity: 0;
                    transition: margin .3s, opacity .3s;
                }

                &:hover:after{
                    margin-left: 5px;
                    opacity: 1;
                }
            }
        }
    }

    p{
        position: relative;
        margin: 1rem 0 0;
        &:first-of-type{
            margin-top: 1.25rem;
            &:before{
                content: " ";
                position: absolute;
                height: 5px;
                background-color: var(--pc);
                width: 35px ;
                top: -0.75rem;
                border-radius: 3px;
            }
        }
    }
    &:hover{
        .details{
            left: 0%;
        }
    }

    @media(min-width: 640px){
        flex-direction: row;
        max-width: 700px;
        .meta{
            flex-basis: 700px;
            height: auto;
        }
        .description{
            flex-basis: 60%;
            &:before{
                transform: skewX(-3deg);
                content: "";
                background: var(--white) ;
                width: 30px;
                position: absolute;
                left: -10px;
                top: 0;
                bottom: 0;
                z-index: -1;
            }
        }

        &.alt{
            flex-direction: row-reverse;
            .description{
                &:before{
                    left: inherit;
                    right: -10px;
                    transform: skew(3deg);
                }
            }
            .details{
                padding-left: 25px;
            }
        }
    }
} */
