:root {
    --ap: #456927;
    --apl: #a3c587;
    --as: #318cfc;
    --bg: #edf2f7; /*final*/
    --bgb: #dfe6ee;
    --ptc: #313f4e;
    --stc: #8ea2b8;
    --acb: #bdcac5;
    --ac2: #f2e4de;
    --ac3: #e2edf3;
    --white: #ffffff;
    /* --stc: #84807C; */
    --ttc: #c6c3bd;
    --shadow_old: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
    --shadow-back: 0px 0px 8.4px rgba(0, 0, 0, 0.056), 0px 0px 13.8px rgba(0, 0, 0, 0.08), 0px 0px 29.9px rgba(0, 0, 0, 0.1), 0px 0px 65.2px rgba(0, 0, 0, 0.124), 0px 0px 104px rgba(0, 0, 0, 0.18);

    --shadow-close: -0.1px -0.1px 15.3px rgba(0, 0, 0, 0.093), 2.5px 1.9px 22.1px rgba(0, 0, 0, 0.094), 9.5px 7.3px 28px rgba(0, 0, 0, 0.087), 22.2px 17.1px 34.9px rgba(0, 0, 0, 0.082),
        40.7px 31.3px 45.3px rgba(0, 0, 0, 0.084), 65px 50px 73px rgba(0, 0, 0, 0.1);
    --gradient: linear-gradient(90deg, var(--as) 0%, var(--ap) 80%);
    --tbshadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    --trans: width 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}

@font-face {
    font-family: "Roboto-Slab-bold";
    src: url("./assets/Roboto-Bold.ttf");
}
@font-face {
    font-family: "Roboto-Slab-regular";
    src: url("./assets/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto-Slab-light";
    src: url("./assets/Roboto-Light.ttf");
}

::-webkit-scrollbar-corner {
    background: var(--scrollbg);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbg);
    border-radius: 20px;
    border: 3px solid #0084ff31;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
    scrollbar-width: thin;
    scrollbar-color: var(--ab) #0084ff31;
}

*:focus {
    outline: none;
}

.hidden {
    display: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--bg);
    font-family: "Roboto-Slab-regular";
    width: 100%;
    height: auto;
    overflow-x: clip;
}

a {
    cursor: pointer;
}

button:hover {
    background: var(--apl);
    box-shadow: var(--shadow-close);
}

button {
    transition: box-shadow 0.2s ease-in;
    cursor: pointer;
    min-width: 36px;
    height: 36px;
    border: none;
    background-color: var(--ap);
    padding: 6px;
    border-radius: 8px;
    margin-right: 10px;
    color: var(--white);
}

/* Inputs */
div.input-box {
    width: auto;
    display: inline-block;
    margin-bottom: 20px;
}

div.input-box div.outline-wrapper span.material-icons {
    position: absolute;
    margin-left: 10px;
    font-size: 24px;
    padding: 5px 0;
}
div.input-box span.label {
    background-color: var(--stc);
    color: #01070e;
    font-family: "Roboto-Slab-regular";
    padding: 0 10px;
    transform: translate(13px, -7px);
    position: absolute;
    border-radius: 5px;
    font-size: small;
}
div.input-box div.outline-wrapper {
    height: 60px;
    padding: 10px;
    border: 2px solid var(--stc);
    border-radius: inherit;
}
div.input-box input {
    height: 100%;
    background-color: var(--apl);
    border: none;
    border-radius: 8px 0 0 8px;
    padding-left: 46px;
}
div.input-box textarea {
    height: 100%;
    width: 100%;
    background-color: var(--apl);
    border: none;
    border-radius: 8px 0 0 8px;
    padding-left: 46px;
    padding-top: 8px;
}

nav.top-nav {
    height: 56px;
    background-color: #0084ff10;
    padding: 10px 30px 10px 30px;
    line-height: 36px;
    font-family: "Roboto-Slab-bold", "serif";
    backdrop-filter: blur(2px);
}

div.bannermain {
    min-height: 300px;
    height: auto;
    background-image: url(./assets/yogapose2.jpg);
    background-size: cover;
    margin-top: 45px;
    background-repeat: no-repeat;
    background-position-x: right;
    overflow: hidden;
    background-color: var(--ttc);
    background-position-y: center;
    margin-bottom: 45px;
}

div.bannermain div div {
    margin-right: 10px;
}

div.bannermain div div:first-of-type {
    color: var(--white);
    font-size: 2.5em;
    border-bottom: 2px solid var(--stc);
    padding-bottom: 5px;
    text-align: right;
}

div.bannermain div div:nth-of-type(2) {
    padding-top: 5px;
    font-size: 1.5em;
    text-align: right;
    color: var(--as);
}

div.bannermain > div {
    min-height: inherit;
    height: inherit;
    width: calc(55vw);
    min-width: 300px;
    padding: 60px 40px;
    color: var(--ac3);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 100%);
}

/* Desktop Start */
@media only screen and (min-width: 756px) {
    nav.top-nav {
        overflow: hidden;
    }

    nav.top-nav div.links {
        display: inline-block;
        vertical-align: middle;
        margin-left: calc(5vw);
        font-weight: bold;
        color: var(--ptc);
        font-size: small;
    }

    nav.top-nav div.links a {
        margin-right: 10px;
    }

    .nav-active {
        color: var(--ap);
        font-size: 15px;
        top: 1px;
        position: relative;
        padding-bottom: 13px;
        border-bottom: 4px solid var(--ap);
    }

    nav.top-nav div.login {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        height: 56px;
        min-width: 230px;
        width: 26%;
        max-width: 280px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        padding-right: 20px;
    }

    nav.top-nav span.menu {
        display: none;
    }

    div.sign div.wrapper div.abstraction > button {
        display: none;
    }
}
/* Desktop End */
nav.top-nav div.brand {
    display: inline-block;
    line-height: 36px;
}
nav.top-nav div.brand img {
    height: 28px;
    vertical-align: middle;
}

nav.top-nav div.brand span {
    font-size: 1.2em;
    margin-left: 15px;
    font-weight: bold;
    vertical-align: middle;
}

nav.top-nav div.login button {
    background: none;
    border: none;
    color: var(--ac3);
    font-weight: bold;
    vertical-align: middle;
}
nav.top-nav div.login button:first-of-type {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
}

nav.top-nav div.login {
    background: var(--ptc);
}

div.sign {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100%;
    width: 100%;
    backdrop-filter: grayscale(0.35) blur(3px) brightness(0.6);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s linear;
}

div.sign div.wrapper {
    display: flex;
    width: 80%;
    height: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 750px;
    background-image: url(./assets/solo_flip.webp);
    background-position-y: center;
    background-position-x: right;
    background-size: cover;
    min-height: 410px;
    max-height: 470px;
}

div.sign div.wrapper div.abstraction button {
    position: absolute;
    bottom: 50px;
    width: 50%;
    color: var(--white);
}
div.sign div.wrapper div.abstraction {
    min-height: 360px;
    width: 40%;
    height: 100%;
    backdrop-filter: saturate(1.5) brightness(1.1);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
    font-size: 2.5em;
    font-family: "Roboto-Slab-bold";
    text-shadow: 0px 0 1px var(--ptc);
    padding: 10px;
}

div.sign div.wrapper > div.logup {
    width: 60%;
    height: 100%;
    padding: 15px;
    backdrop-filter: contrast(0.8) blur(5px) sepia(0.5) brightness(1.5);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

div.logup div.title {
    line-height: 36px;
    vertical-align: middle;
    font-size: 1.5em;
    text-align: center;
}

div.logup div.inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-top: 20px;
}

div.logup div.title > span {
    color: var(--ptc);
    float: right;
}
div.logup center > span {
    font-size: 0.8em;
    color: var(--ptc);
}
div.logup div.socials {
    width: 247px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    margin: 20px auto;
}
div.logup button {
    display: block;
    margin: auto 0;
    width: 247px;
}

/* Mobile Start */
@media only screen and (max-width: 755px) {
    div.sign div.wrapper::-webkit-scrollbar {
        display: none;
    }
    div.sign div.wrapper {
        width: 100%;
        background-position-x: left;
        overflow-y: scroll;
        height: 80%;
        /* transition: background-position-x 0s; */
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    div.sign div.wrapper div.abstraction {
        width: 100%;
        height: 85%;
    }
    div.sign div.wrapper > div.logup {
        width: 100%;
        height: 100%;
    }
    nav.top-nav span.menu {
        float: right;
        padding: 3px;
        position: relative;
        top: -3px;
        border-radius: 10px;
    }

    nav.top-nav span.menu:hover {
        background-color: var(--bg);
        color: var(--aplÌ¥);
    }

    nav.top-nav div.links {
        position: absolute;
        top: 56px;
        left: 0;
        padding: 5px 20px 5px 20px;
        width: 100%;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease, visibility 0.2s ease;
        border-radius: inherit;
        background-color: var(--white);
    }

    nav.top-nav div.links a {
        display: list-item;
        margin: 5px;
        list-style-type: none;
    }
    .nav-active {
        color: var(--ap);
        border-bottom: 2px solid var(--ap);
    }
    nav.top-nav div.links a:nth-of-type(1)::before {
        content: "home";
        font-family: "Material Icons";
        font-size: 22px;
        vertical-align: -5px;
        margin-right: 15px;
    }
    nav.top-nav div.links a:nth-of-type(2)::before {
        content: "self_improvement";
        font-family: "Material Icons";
        font-size: 22px;
        vertical-align: -5px;
        margin-right: 15px;
    }
    nav.top-nav div.links a:nth-of-type(3)::before {
        content: "public";
        font-family: "Material Icons";
        font-size: 22px;
        vertical-align: -5px;
        margin-right: 15px;
    }
    nav.top-nav div.links a:nth-of-type(4)::before {
        content: "support_agent";
        font-family: "Material Icons";
        font-size: 22px;
        vertical-align: -5px;
        margin-right: 15px;
    }

    nav.top-nav div.login {
        position: absolute;
        top: 241px;
        width: 100%;
        border-radius: inherit;
        height: 100%;
        padding: 10px;
        left: 0;
        opacity: 0;
        visibility: hidden;
        background: linear-gradient(90deg, var(--as) 0%, var(--ap) 100%);
        text-align: center;
        transition: opacity 0.2s ease, visibility 0.2s ease;
        overflow: hidden;
    }

    nav.top-nav div.login button.signup {
        transform: translateX(-20px);
    }
    nav.top-nav div.login button.login::before {
        content: " | ";
        margin-right: 10px;
        margin-left: -10px;
    }

    nav.top-nav span:hover ~ div {
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }

    footer div.copyright div.socials {
        margin-top: 10px;
        margin-left: -10px;
    }

    footer > div.footer-bottom {
        flex-wrap: wrap;
    }
}
/* Mobile End */

footer {
    background-color: var(--white);
    display: flex;
    position: relative;
    padding: 20px;
    flex-direction: column;
}

/* footer div.newsletter span.material-icons {
    color: black;
} */
footer div.newsletter {
    /* background: var(--gradient); */
    color: var(--ptc);
    background: var(--white);
    min-height: 56px;
    height: 80px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

footer div.newsletter div.outline-wrapper {
    width: inherit;
    height: 60px;
    padding: 10px;
    border: 2px solid var(--stc);
    border-radius: inherit;
}
footer div.newsletter > span {
    position: absolute;
    background-color: inherit;
    top: 20px;
    left: 60px;
    color: var(--ap);
    font-family: "Roboto-Slab-bold";
    padding: 0 10px;
}
footer div.newsletter div input::placeholder {
    color: var(--stc);
}

footer div.newsletter div input {
    height: 100%;
    background-color: var(--apl);
    border: none;
    border-radius: 8px 0 0 8px;
    padding-left: 15px;
    font-size: large;
    min-width: 200px;
    padding-left: 46px;
    width: calc(100% - 66px);
}
footer div.newsletter div > span {
    position: absolute;
    margin-left: 10px;
    font-size: 24px;
    padding: 5px 0;
}
footer div.newsletter div button span {
    font-size: 24px;
    color: var(--white);
}
footer div.newsletter div button {
    position: absolute;
    right: 30px;
    width: 76px;
    min-width: 36px;
    height: 36px;
    border: none;
    background-color: var(--ap);
    padding: 6px;
    border-radius: 8px;
    margin-right: 10px;
    float: right;
}

footer > div.footer-bottom {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--stc);
    margin-top: 10px;
    padding: 10px;
    /* width: calc(100% - 20px); */
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding-bottom: 20px;
    margin: 10px;
}

footer > div.footer-bottom div.sitemap {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
footer > div.footer-bottom div.sitemap div {
    display: flex;
    flex-direction: column;
}
footer > div.footer-bottom div.sitemap div span:nth-of-type(1) {
    font-family: "Roboto-Slab-bold";
    color: var(--ap);
    margin-bottom: 10px;
}
footer > div.footer-bottom div.sitemap div span:nth-of-type(n + 2) {
    display: list-item;
    list-style-type: none;
    font-size: small;
    color: var(--ptc);
    margin-bottom: 2px;
    cursor: pointer;
}
footer > div.footer-bottom div.company {
    display: flex;
    width: 100%;
    height: 130px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}
footer > div.footer-bottom div.company > span {
    min-width: 250px;
    width: 75%;
    font-family: "Roboto-Slab-light";
    color: var(--stc);
    padding: 8px 0;
}
footer > div.footer-bottom div.company div {
    line-height: 44px;
    min-width: 250px;
    width: 75%;
}
footer > div.footer-bottom div.company > div span {
    font-family: "Roboto-Slab-bold";
    font-size: 1.32em;
    margin-left: 10px;
}
footer > div.footer-bottom div.company > div img {
    height: 44px;
    vertical-align: middle;
    display: inline;
}

footer div.copyright {
    color: var(--stc);
    font-size: smaller;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
    margin: 0 10px;
}

footer div.copyright div.socials img {
    height: 24px;
    margin-left: 10px;
}
