:root {
    --ap: #456927;
    --apl: #cfe6bc;
    --as: #318cfc;
    --bg: #edf2f7; /*final*/
    --bgb: #dfe6ee;
    --ptc: #313f4e;
    --stc: #8ea2b8;
    --acb: #bdcac5;
    --ac2: #f2e4de;
    --ac3: #e2edf3;
    --white: #ffffff;
    /* --stc: #84807C; */
    --ttc: #c6c3bd;
    --shadow_old: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
    --shadow-close: -0.1px -0.1px 15.3px rgba(0, 0, 0, 0.093), 2.5px 1.9px 22.1px rgba(0, 0, 0, 0.094), 9.5px 7.3px 28px rgba(0, 0, 0, 0.087), 22.2px 17.1px 34.9px rgba(0, 0, 0, 0.082),
        40.7px 31.3px 45.3px rgba(0, 0, 0, 0.084), 65px 50px 73px rgba(0, 0, 0, 0.1);
    --gradient: linear-gradient(90deg, var(--as) 0%, var(--ap) 80%);
    --tbshadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    --trans: width 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}

@font-face {
    font-family: "Roboto-Slab-bold";
    src: url("./assets/Roboto-Bold.ttf");
}
@font-face {
    font-family: "Roboto-Slab-regular";
    src: url("./assets/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto-Slab-light";
    src: url("./assets/Roboto-Light.ttf");
}

::-webkit-scrollbar-corner {
    background: var(--scrollbg);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbg);
    border-radius: 20px;
    border: 3px solid #0084ff31;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
    scrollbar-width: thin;
    scrollbar-color: var(--ab) #0084ff31;
}

*:focus {
    outline: none;
}

.hidden {
    display: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--bg);
    font-family: "Roboto-Slab-regular";
    width: 100%;
    height: auto;
    overflow-x: clip;
}

a {
    cursor: pointer;
}

button:hover {
    background: var(--apl);
    box-shadow: var(--shadow-close);
}

button {
    transition: box-shadow 0.2s ease-in;
    cursor: pointer;
}

nav.top-nav {
    height: 56px;
    background-color: #0084ff10;
    padding: 10px 30px 10px 30px;
    line-height: 36px;
    font-family: "Roboto-Slab-bold", "serif";
}

div.bannermain {
    min-height: 300px;
    height: auto;
    background-image: url(./assets/yogapose2.jpg);
    background-size: cover;
    margin-top: 45px;
    background-repeat: no-repeat;
    background-position-x: right;
    overflow: hidden;
    background-color: var(--ttc);
    background-position-y: center;
    margin-bottom: 45px;
}

div.bannermain div div {
    margin-right: 10px;
}

div.bannermain div div:first-of-type {
    color: var(--white);
    font-size: 2.5em;
    border-bottom: 2px solid var(--stc);
    padding-bottom: 5px;
    text-align: right;
}

div.bannermain div div:nth-of-type(2) {
    padding-top: 5px;
    font-size: 1.5em;
    text-align: right;
    color: var(--as);
}

div.bannermain > div {
    min-height: inherit;
    height: inherit;
    width: calc(55vw);
    min-width: 300px;
    padding: 60px 40px;
    color: var(--ac3);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 100%);
}

/* Desktop Start */
@media only screen and (min-width: 756px) {
    nav.top-nav {
        overflow: hidden;
    }

    nav.top-nav div.links {
        display: inline-block;
        vertical-align: middle;
        margin-left: calc(5vw);
        font-weight: bold;
        color: var(--stc);
        font-size: small;
    }

    nav.top-nav div.links a {
        margin-right: 10px;
    }

    .nav-active {
        color: var(--ap);
        font-size: 15px;
        top: 1px;
        position: relative;
        padding-bottom: 13px;
        border-bottom: 4px solid var(--ap);
    }

    nav.top-nav div.login button {
        float: right;
        margin-right: 25px;
    }

    nav.top-nav div.login {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        height: 56px;
        min-width: 230px;
        width: 26%;
        line-height: 56px;
        padding-top: 20px;
        max-width: 280px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    }

    nav.top-nav div.login button:first-of-type {
        top: -10px;
        position: relative;
    }

    nav.top-nav span.menu {
        display: none;
    }
}
/* Desktop End */
nav.top-nav div.brand {
    display: inline-block;
    line-height: 36px;
}
nav.top-nav div.brand img {
    height: 28px;
    vertical-align: middle;
}

nav.top-nav div.brand span {
    font-size: 1.2em;
    margin-left: 15px;
    font-weight: bold;
    vertical-align: middle;
}

nav.top-nav div.login button {
    background: none;
    border: none;
    color: var(--ac3);
    font-weight: bold;
    vertical-align: middle;
}
nav.top-nav div.login button:first-of-type {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
}

nav.top-nav div.login {
    background: var(--ptc);
}
/* Mobile Start */
@media only screen and (max-width: 755px) {
    nav.top-nav span.menu {
        float: right;
        padding: 3px;
        position: relative;
        top: -3px;
        border-radius: 10px;
    }

    nav.top-nav span.menu:hover {
        background-color: var(--bg);
        color: var(--aplÌ¥);
    }

    nav.top-nav div.links {
        position: absolute;
        top: 56px;
        left: 0;
        padding: 5px 20px 5px 20px;
        width: 100%;
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: opacity 0.2s ease, width 0.01s ease;
        transition-delay: 0.3;
        border-radius: inherit;
        background-color: var(--white);
        z-index: -1;
    }

    nav.top-nav div.links a {
        display: list-item;
        margin: 5px;
        list-style-type: none;
    }
    .nav-active {
        color: var(--ap);
        border-bottom: 2px solid var(--ap);
    }
    nav.top-nav div.links a:nth-of-type(1)::before {
        content: "home";
        font-family: "Material Icons";
        font-size: 22px;
        vertical-align: -5px;
        margin-right: 15px;
    }
    nav.top-nav div.links a:nth-of-type(2)::before {
        content: "self_improvement";
        font-family: "Material Icons";
        font-size: 22px;
        vertical-align: -5px;
        margin-right: 15px;
    }
    nav.top-nav div.links a:nth-of-type(3)::before {
        content: "public";
        font-family: "Material Icons";
        font-size: 22px;
        vertical-align: -5px;
        margin-right: 15px;
    }
    nav.top-nav div.links a:nth-of-type(4)::before {
        content: "support_agent";
        font-family: "Material Icons";
        font-size: 22px;
        vertical-align: -5px;
        margin-right: 15px;
    }

    nav.top-nav div.login {
        position: absolute;
        top: 241px;
        width: 100%;
        border-radius: inherit;
        height: 0;
        padding: 10px;
        left: 0;
        opacity: 0;
        background: linear-gradient(90deg, var(--as) 0%, var(--ap) 100%);
        text-align: center;
        transition: opacity 0.2s ease, width 0.01s ease;
        overflow: hidden;
        z-index: -1;
    }

    nav.top-nav div.login button.signup {
        transform: translateX(-20px);
    }
    nav.top-nav div.login button.login::before {
        content: " | ";
        margin-right: 10px;
        margin-left: -10px;
    }

    nav.top-nav span:hover ~ div {
        width: 100%;
        min-height: 56px;
        height: auto;
        opacity: 1;
        z-index: 10;
    }

    footer div.copyright div.socials {
        margin-top: 10px;
        margin-left: -10px;
    }

    footer > div.footer-bottom {
        flex-wrap: wrap;
    }
}
/* Mobile End */

footer {
    background-color: var(--white);
    display: flex;
    position: relative;
    padding: 20px;
    flex-direction: column;
}

/* footer div.newsletter span.material-icons {
    color: black;
} */
footer div.newsletter {
    /* background: var(--gradient); */
    color: var(--ptc);
    background: var(--white);
    min-height: 56px;
    height: 80px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

footer div.newsletter div.outline-wrapper {
    width: inherit;
    height: 60px;
    padding: 10px;
    border: 2px solid var(--stc);
    border-radius: inherit;
}
footer div.newsletter > span {
    position: absolute;
    background-color: inherit;
    top: 20px;
    left: 60px;
    color: var(--ap);
    font-family: "Roboto-Slab-bold";
    padding: 0 10px;
}
footer div.newsletter div input::placeholder {
    color: var(--stc);
}

footer div.newsletter div input {
    height: 100%;
    background-color: var(--apl);
    border: none;
    border-radius: 8px 0 0 8px;
    padding-left: 15px;
    font-size: large;
    min-width: 200px;
    padding-left: 46px;
    width: calc(100% - 66px);
}
footer div.newsletter div > span {
    position: absolute;
    margin-left: 10px;
    font-size: 24px;
    padding: 5px 0;
}
footer div.newsletter div button span {
    font-size: 24px;
    color: var(--white);
}
footer div.newsletter div button {
    position: absolute;
    right: 30px;
    width: 76px;
    min-width: 36px;
    height: 36px;
    border: none;
    background-color: var(--ap);
    padding: 6px;
    border-radius: 8px;
    margin-right: 10px;
    float: right;
}

footer > div.footer-bottom {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--stc);
    margin-top: 10px;
    padding: 10px;
    /* width: calc(100% - 20px); */
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding-bottom: 20px;
    margin: 10px;
}

footer > div.footer-bottom div.sitemap {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
footer > div.footer-bottom div.sitemap div {
    display: flex;
    flex-direction: column;
}
footer > div.footer-bottom div.sitemap div span:nth-of-type(1) {
    font-family: "Roboto-Slab-bold";
    color: var(--ap);
    margin-bottom: 10px;
}
footer > div.footer-bottom div.sitemap div span:nth-of-type(n + 2) {
    display: list-item;
    list-style-type: none;
    font-size: small;
    color: var(--ptc);
    margin-bottom: 2px;
    cursor: pointer;
}
footer > div.footer-bottom div.company {
    display: flex;
    width: 100%;
    height: 130px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}
footer > div.footer-bottom div.company > span {
    min-width: 250px;
    width: 75%;
    font-family: "Roboto-Slab-light";
    color: var(--stc);
    padding: 8px 0;
}
footer > div.footer-bottom div.company div {
    line-height: 44px;
    min-width: 250px;
    width: 75%;
}
footer > div.footer-bottom div.company > div span {
    font-family: "Roboto-Slab-bold";
    font-size: 1.32em;
    margin-left: 10px;
}
footer > div.footer-bottom div.company > div img {
    height: 44px;
    vertical-align: middle;
    display: inline;
}

footer div.copyright {
    color: var(--stc);
    font-size: smaller;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
    margin: 0 10px;
}

footer div.copyright div.socials img {
    height: 24px;
    margin-left: 10px;
}
