img.backart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
}

div.greet {
    padding: 100px;
}

div.greet div.title {
    color: var(--white);
    font-weight: bolder;
    font-size: 2.5em;
}

div.greet div.more {
    color: var(--ac2);
    padding: 3px;
    font-size: large;
    margin-top: 10px;
    text-shadow: 0 3px 6px var(--ptc);
}

section {
    width: calc(100% - 200px);
    display: flex;
    margin-left: 100px;
    height: auto;
    background-color: var(--white);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    box-shadow: var(--shadow-close);
}

section div.form div.title {
    line-height: 36px;
    vertical-align: middle;
    font-size: 1.5em;
}

section div.form div.title > span {
    color: var(--ptc);
    float: right;
}
section div.form {
    color: var(--ptc);
    width: 65%;
    min-width: 600px;
    padding: 55px;
}
section div.form div.inputs div.input-box {
    width: auto;
    display: inline-block;
    margin-bottom: 20px;
}
section div.form div.inputs div.message {
    width: 100%;
    display: block;
}
section div.form div.inputs div.message div.outline-wrapper {
    height: 100px !important;
}
section div.form div.inputs div.input-box div.outline-wrapper span.material-icons {
    position: absolute;
    margin-left: 10px;
    font-size: 24px;
    padding: 5px 0;
}
section div.form div.inputs div.input-box span.label {
    background-color: var(--white);
    color: var(--ap);
    font-family: "Roboto-Slab-bold";
    padding: 0 10px;
    transform: translate(20px, -10px);
    position: absolute;
}
section div.form div.inputs div.input-box div.outline-wrapper {
    height: 60px;
    padding: 10px;
    border: 2px solid var(--stc);
    border-radius: inherit;
}
section div.form div.inputs div.input-box input {
    height: 100%;
    background-color: var(--apl);
    border: none;
    border-radius: 8px 0 0 8px;
    padding-left: 46px;
}
section div.form div.inputs div.input-box textarea {
    height: 100%;
    width: 100%;
    background-color: var(--apl);
    border: none;
    border-radius: 8px 0 0 8px;
    padding-left: 46px;
    padding-top: 8px;
}
section div.form div.inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

section div.addr > div {
    display: flex;
    margin-top: 40px;
}

section div.addr div.social img {
    font-size: 1.5em;
    margin: auto auto;
}
section div.addr span.material-icons {
    color: var(--stc);
}
section div.addr {
    color: var(--bg);
}

div.addr > div span.material-icons {
    font-size: 2.5em;
    margin-right: 10px;
}

section div.addr > span {
    font-size: 1.5em;
    font-weight: bold;
}
section div.addr {
    width: 35%;
    background-color: var(--ptc);
    padding: 55px;
}

section div.form div.inputs button {
    height: 36px;
    padding: 6px 12px;
    background-color: var(--ap);
    border: none;
    border-radius: 8px;
    box-shadow: var(--shadow-close);
    color: var(--white);
    font-family: "Roboto-Slab-bold";
    float: right;
    position: relative;
    bottom: 0;
    right: 0;
}
