div.contact_back {
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    height: fill-available;
    height: -moz-fill-available;
    height: -webkit-fill-available;
}

img.backart {
    width: 100%;
}

div.greet div.title {
    color: var(--white);
    font-weight: bolder;
    font-size: 2.5em;
}

div.greet div.more {
    color: var(--ac2);
    padding: 3px;
    font-size: large;
    margin-top: 10px;
    text-shadow: 0 3px 6px var(--ptc);
}

section {
    display: flex;
    margin: 0 auto;
    height: auto;
    background-color: var(--white);
    justify-content: center;
    margin-bottom: 50px;
    box-shadow: var(--shadow-close);
    min-width: min-content;
}

section div.form div.title {
    line-height: 36px;
    vertical-align: middle;
    font-size: 1.5em;
}

section div.form div.title > span {
    color: var(--ptc);
    float: right;
}

section div.form div.inputs div.input-box {
    width: auto;
    display: inline-block;
    margin-bottom: 20px;
}
section div.form div.inputs div.message {
    width: 100%;
    display: block;
}
section div.form div.inputs div.message div.outline-wrapper {
    height: 100px !important;
}
section div.form div.inputs div.input-box div.outline-wrapper span.material-icons {
    position: absolute;
    margin-left: 10px;
    font-size: 24px;
    padding: 5px 0;
}
section div.form div.inputs div.input-box span.label {
    background-color: var(--white);
    color: var(--ap);
    font-family: "Roboto-Slab-bold";
    padding: 0 10px;
    transform: translate(20px, -10px);
    position: absolute;
}
section div.form div.inputs div.input-box div.outline-wrapper {
    height: 60px;
    padding: 10px;
    border: 2px solid var(--stc);
    border-radius: inherit;
}
section div.form div.inputs div.input-box input {
    height: 100%;
    background-color: var(--apl);
    border: none;
    border-radius: 8px 0 0 8px;
    padding-left: 46px;
}
section div.form div.inputs div.input-box textarea {
    height: 100%;
    width: 100%;
    background-color: var(--apl);
    border: none;
    border-radius: 8px 0 0 8px;
    padding-left: 46px;
    padding-top: 8px;
}
section div.form div.inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

section div.addr > div {
    display: flex;
    margin-top: 40px;
}

section div.addr div.social a {
    margin: auto auto;
}
section div.addr span.material-icons {
    color: var(--stc);
}

div.addr > div span.material-icons {
    font-size: 2.5em;
    margin-right: 10px;
}

section div.addr > span {
    font-size: 1.5em;
    font-weight: bold;
}

section div.addr {
    color: var(--bg);
    min-width: min-content;
    background-color: var(--ptc);
    padding: 55px;
    max-width: fill-available;
    max-width: -moz-fill-available;
    max-width: -webkit-fill-available;
}

section div.form div.inputs button {
    height: 36px;
    padding: 6px 12px;
    background-color: var(--ap);
    border: none;
    border-radius: 8px;
    box-shadow: var(--shadow-close);
    color: var(--white);
    font-family: "Roboto-Slab-bold";
    float: right;
    position: relative;
    bottom: 0;
    right: 0;
}
<<<<<<< HEAD

/* footer accordian */

div.acc {
    width: 100%;
    height: auto;
    padding: 15px;
    /* border: 2px solid var(--stc);  */
    border-radius: 10px;
}

div.acc-items {
    background-color: #cfe6bc;
    color: black;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

div.acc-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    color: #456927;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

div.acc-item-header::after {
    content: "\25BE";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

div.acc-item-header.active::after {
    transform: rotate(180deg);
}

div.acc-item-body {
    display: none;
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #456927, rgb(183, 183, 73)) 1;
}

.acc-item-header.active + .acc-item-body {
    display: block;
}

@media (max-width: 767px) {
    html {
        font-size: 14px;
    }
}

.slide-color {
    background-color: #456927;
}
.slide-container {
    max-width: 1120px;
    width: 100%;
    background-color: #456927;
    padding: 40px 0;
}

.slide-content {
    margin: 50px 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    background-color: white;
}
.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #cfe6bc;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #cfe6bc;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: black;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border-radius: 4px solid #456927;
}

.name {
    font-size: 18px solid;
    font-weight: 500;
    color: #333;
}

.description {
    margin: 10px 0;
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    background-color: #456927;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: #77ac4c;
}

.swiper-navBtn {
    color: #456927;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover {
    color: #cfe6bc;
}
.swiper-button-next {
    right: 0;
}
.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-attachment: #456927;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-attachment: #cfe6bc;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }
    .swiper-navBtn {
        display: none;
    }
}

/* Desktop start  */
=======
/* Desktop Start */
>>>>>>> 130396aa8dde4b25a733b66cfadb236f655fbd6d
@media only screen and (min-width: 756px) {
    div.greet {
        padding: 100px;
    }
    section {
        width: calc(100% - 200px);
        flex-direction: row;
        flex-wrap: nowrap;
    }
    section div.form {
        width: 65%;
        color: var(--ptc);
        padding: 55px;
        max-width: fill-available;
        max-width: -moz-fill-available;
        max-width: -webkit-fill-available;
    }
    section div.addr {
        width: 35%;
        color: var(--bg);
        background-color: var(--ptc);
        padding: 55px;
        max-width: fill-available;
        max-width: -moz-fill-available;
        max-width: -webkit-fill-available;
    }
}

/* Mobile Start */
@media only screen and (max-width: 755px) {
    img.backart {
        transform: scale(1.4);
    }
    div.greet {
        padding: 30px;
    }
    section {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    section div.form {
        width: 100%;
        color: var(--ptc);
        padding: 55px;
        max-width: fill-available;
        max-width: -moz-fill-available;
        max-width: -webkit-fill-available;
        margin: 0 auto;
    }
    section div.addr {
        width: 100%;
        color: var(--bg);
        background-color: var(--ptc);
        padding: 55px;
        max-width: fill-available;
        max-width: -moz-fill-available;
        max-width: -webkit-fill-available;
    }
}
