div.products {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
/* Desktop Start */
@media only screen and (min-width: 756px) {
    div.products div.solo div.container,
    div.products div.group div.container {
        max-width: calc(100vw - 330px);
    }

    div.products > div {
        background-position-y: center;
    }
}
div.products div.solo {
    background-image: url(./assets/solo.webp);
    min-height: 200px;
    background-position-x: left;
    background-size: contain;
    margin-bottom: 20px;
}

div.products div.group {
    background-image: url(./assets/group.webp);
    min-height: 200px;
    background-position-x: right;
    background-size: contain;
}

div.products div.solo div.container,
div.products div.group div.container {
    min-height: 200px;
    padding: 20px;
    color: black;
    background-color: var(--bgb);
}

div.products div.solo div.container {
    float: right;
}

div.products div.container div.title {
    font-weight: bolder;
    font-size: 1.5em;
}

div.products div.container div.info {
}
div.products div.container div.more {
    color: var(--ptc);
}

div.products div.container hr {
    margin-top: 4px;
    margin-bottom: 4px;
    border: 2px solid var(--as);
    width: 150px;
}

div.products div.container button {
    position: relative;
    height: 36px;
    padding: 6px 12px;
    background-color: var(--ap);
    border: none;
    border-radius: 8px;
    box-shadow: var(--shadow-close);
    color: var(--white);
    font-family: "Roboto-Slab-bold";
    float: right;
}

/* Mobile Start */
@media only screen and (max-width: 755px) {
    div.products > div {
        display: flex;
        background-repeat: no-repeat;
    }
    div.products > div > div.container {
        width: 100%;
        max-width: 100%;
        margin-top: calc(100% * 0.667);
    }
}
