@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #a1c3ff;
}

img {
    max-width: 100%;
}

h1,
h2 {
    margin-bottom: 15px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

/* .navbar {
  background: #3474e6;
  color: #fff;
  height: 60px;
} */

/* .navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: lightblue;
} */

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    /* background-color: #0151cc; */
    background-image: linear-gradient(rgb(223, 178, 15), rgb(55, 70, 235));
    color: #fff;
    min-height: 400px;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    background-image: linear-gradient(to right, rgba(234, 165, 28, 0), rgb(60, 82, 222));
    /* background: #0a51cc; */
    color: #fff;
    text-align: center;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}

@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .boxes .container {
        display: block;
        text-align: center;
    }
}
.group {
    text-shadow: 1px 1px 3px rgb(5, 46, 225);
    text-align: center;
    text-decoration: underline;
}
.pic {
    width: 350px;
    border-radius: 5px;
}
.button1 {
    background-color: #0a23a1;

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 5px;
}
.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
