div.blogsbanner {
    height: 40vw;
    overflow: hidden;
    background-image: url(./media/Untitled\ design.png);
    background-size: cover;
    background-position-y: center;
    position: relative;
    top: -56px;
    z-index: -2;
    margin-bottom: -56px;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

div.blogsbanner div span:last-of-type {
    text-shadow: 0px 2px 4px var(--ttc);
}
div.blogsbanner div span:first-of-type {
    color: var(--ptc);
    font-size: 2em;
    font-family: "Roboto-Slab-bold";
}
div.blogsbanner div hr {
    width: calc(100% - 20px);
    border: 2px solid var(--as);
    margin: 5px 0;
}
div.blogsbanner div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 50%;
    background-color: #0084ff10;
    height: calc(100% - 56px);
    justify-content: center;
    padding: 0 20px 0 40px;
    text-align: end;
    color: var(--ptc);
    margin-top: 28px;
    backdrop-filter: blur(2px);
}

section {
    display: flex;
    margin: 25px auto;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

section article {
    position: relative;
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

article ul li {
    list-style: none;
}
article ul li::before {
    content: "arrow_right";
    vertical-align: middle;
    font-family: "Material Icons";
    font-size: large;
    position: relative;
    top: -2px;
    color: var(--stc);
    left: -5px;
}
article span.name {
    font-family: "Roboto-Slab-bold";
    font-size: large;
    margin-top: 15px;
}

article ul {
    padding: 15px;
}

section article img {
    width: 100%;
}

/* Desktop View */
@media only screen and (min-width: 755px) {
    section:last-of-type > article.front {
        transform: scale(1.1);
        position: absolute;
        z-index: 2;
    }

    section article:first-of-type {
        left: 50px;
    }
    section article:last-of-type {
        left: -50px;
    }
    section article {
        margin: 10px;
        box-shadow: var(--shadow-back);
    }

    section article:hover,
    section article.front:hover {
        transform: scale(1.15);
        z-index: 5;
    }
}

/* Mobile View */
@media only screen and (max-width: 755px) {
    section div.column {
        display: block;
        width: 100%;
        padding: 0;
    }
    div.blogsbanner {
        height: 300px;
    }
    div.blogsbanner > div {
        width: 100%;
        text-align: justify;
        align-items: center;
    }

    section article {
        padding: 7px;
        width: 100%;
    }
}
