div.blogsbanner {
    height: 40vw;
    overflow: hidden;
    background-image: url(./assets/workshops.webp);
    background-size: cover;
    background-position-y: center;
    position: relative;
    top: -56px;
    z-index: -2;
    margin-bottom: -56px;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

div.blogsbanner div span:last-of-type {
    text-shadow: 0px 2px 4px var(--ttc);
}
div.blogsbanner div span:first-of-type {
    color: var(--ptc);
    font-size: 2em;
    font-family: "Roboto-Slab-bold";
}
div.blogsbanner div hr {
    width: calc(100% - 20px);
    border: 2px solid var(--as);
    margin: 5px 0;
}
div.blogsbanner div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 50%;
    background-color: #0084ff10;
    justify-content: center;
    padding: 0 20px 0 40px;
    text-align: end;
    color: var(--ptc);
    margin-top: 28px;
    height: calc(100% - 56px);
    backdrop-filter: blur(2px);
}

section.pastevents > span.material-icons {
    margin: 5px;
    padding: 10px;
    background-color: var(--apl);
    border-radius: 10px;
}

section.pastevents {
    margin: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

section.pastevents > div div.img {
    min-height: 250px;
    width: 320px;
    background-image: url(./assets/blog3.jpg);
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: var(--shadow-back);
}
section.pastevents > div div.details {
    min-height: 200px;
    width: 230px;
    background-color: var(--white);
    position: relative;
    top: 25px;
    z-index: 1;
    box-shadow: var(--shadow-back);
    padding: 10px;
}

section.pastevents > div {
    position: relative;
    height: 250px;
    margin: 20px auto;
    width: 500px;
}

div.details span.material-icons {
    font-size: 1em;
    vertical-align: middle;
    margin: 3px;
    position: relative;
    top: -1px;
    color: var(--as);
}
